<div class="not-prose flex flex-row gap-8">
  <div class="flex-1 min-w-0">
    <ul class="list-none !pl-0 !my-0 space-y-1">
      {{range .NotePages}}
        <li>
          <a href="/{{.PublicPath}}" class="text-sky-800 hover:underline">{{.Title}}</a>
          <small class="text-slate-400"><time datetime="{{.PublishedAt.Format "2006-01-02"}}">{{.PublishedAt.Format "2006/01/02"}}</time></small>
        </li>
      {{end}}
    </ul>
  </div>
  <div class="hidden lg:flex flex-col gap-1 flex-shrink-0">
    {{range .Tags}}
      <a href="/tags/{{.}}" class="block rounded-md py-0 px-2 no-underline font-normal text-sm bg-slate-100 !text-slate-800 border border-slate-200 whitespace-nowrap">{{.}}</a>
    {{end}}
  </div>
</div>
