<div class="flex flex-row flex-wrap items-stretch !my-8">
  {{range .Tags}}
    <a href="/tags/{{.}}" class="block border rounded-md py-0 px-2 my-1 mr-2 no-underline font-normal bg-slate-100 !text-slate-800 border-slate-200">{{.}}</a>
  {{end}}
</div>

<p>Notes:</p>

<ul>
  {{range .NotePages}}
    <li>
      <a href="/{{.PublicPath}}">{{.Title}}</a>
      <small class="text-slate-400"><time datetime="{{.PublishedAt.Format "2006-01-02"}}">{{.PublishedAt.Format "2006/01/02"}}</time></small>
    </li>
  {{end}}
</ul>
