<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width,initial-scale=1" />
  <meta name="author" content="{{.Config.AuthorName}}">
  <meta name="description" content="{{.Page.MetaDescription}}" />
  <title>{{if .Page.Title}}{{.Page.Title}} - {{end}}{{.Config.SiteName}}</title>
  {{if .Page.CanonicalPath}}
    <link rel="canonical" href="{{.Config.SiteRootURL}}/{{.Page.CanonicalPath}}">
  {{end}}
  <meta property="og:title" content="{{if .Page.Title}}{{.Page.Title}}{{else}}{{.Config.SiteName}}{{end}}" />
  <meta property="og:description" content="{{.Page.MetaDescription}}" />
  <meta property="og:type" content="{{if .Page.Title}}article{{else}}website{{end}}" />
  <meta property="og:url" content="{{.Config.SiteRootURL}}{{if .Page.CanonicalPath}}/{{.Page.CanonicalPath}}{{end}}" />
  <meta property="og:site_name" content="{{.Config.SiteName}}" />
  <meta name="twitter:card" content="summary" />
  <meta name="twitter:title" content="{{if .Page.Title}}{{.Page.Title}}{{else}}{{.Config.SiteName}}{{end}}" />
  <meta name="twitter:description" content="{{.Page.MetaDescription}}" />
  <link rel="alternate" type="application/rss+xml" title="{{.Config.SiteName}}" href="{{.Config.FeedURL}}">
  <link rel="icon" href="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAxMDAgMTAwIiB3aWR0aD0iMTAwIiBoZWlnaHQ9IjEwMCI+PGcgc3Ryb2tlPSIjMzM0MTU1IiBzdHJva2Utd2lkdGg9IjEwIiBzdHJva2UtbGluZWNhcD0icm91bmQiPjxsaW5lIHgxPSIxNSIgeTE9IjIwIiB4Mj0iODUiIHkyPSIyMCIvPjxsaW5lIHgxPSIxNSIgeTE9IjQwIiB4Mj0iODUiIHkyPSI0MCIvPjxsaW5lIHgxPSIxNSIgeTE9IjYwIiB4Mj0iODUiIHkyPSI2MCIvPjxsaW5lIHgxPSIxNSIgeTE9IjgwIiB4Mj0iODUiIHkyPSI4MCIvPjwvZz48L3N2Zz4=">
  <style>{{.Config.StyleCSS}}{{.Config.HighlightCSS}}</style>
  <script src="https://cdn.counter.dev/script.js" data-id="d94a1231-14bd-47f9-ad32-cf1a9b40d2a5" data-utcoffset="2"></script>
</head>
<body>
  <div class="prose prose-slate prose-h1:text-4xl prose-headings:font-semibold container mx-auto !px-4 !pt-4 !pb-6">
    <nav class="!my-6">
      <a href="{{.Config.SiteRootPath}}">{{.Config.SiteName}}</a>
    </nav>
    <main>
      {{.Content}}
    </main>
    <footer class="!mt-6">
      <p class="not-prose text-slate-400">
        <a href="{{.Config.SiteRootURL}}" class="hover:underline hover:text-slate-700">{{.Config.SiteDomain}}</a> &middot; <a href="{{.Config.FeedPath}}" class="hover:underline hover:text-slate-700">RSS</a> &middot; <a href="{{.Config.LicenseURL}}" class="hover:underline hover:text-slate-700">{{.Config.LicenseName}}</a>
      </p>
    </footer>
  </div>
</body>
</html>
