<h1 class="!my-8 !leading-tight"><a href="/{{.Note.PublicPath}}" class="no-underline">{{.Note.Title}}</a></h1>

{{.Note.Body}}

<div class="not-prose flex flex-row flex-wrap items-baseline gap-2 text-slate-400" style="margin-top:3rem">
  <time datetime="{{.Note.PublishedAt.Format "2006-01-02"}}">{{.Note.PublishedAt.Format "2 January 2006"}}</time>{{if .Note.Tags}}<span>&middot;</span>{{range .Note.Tags}}
  <a href="/tags/{{.}}" class="border rounded-md py-0 px-2 no-underline font-normal bg-slate-100 !text-slate-800 border-slate-200">{{.}}</a>{{end}}{{end}}
</div>

{{if .Related}}
  <hr class="!my-6">
  <p>Somewhat related:</p>
  <ul>
    {{range .Related}}
      <li>
        <a href="/{{.PublicPath}}">{{.Title}}</a>
        <small class="text-slate-400"><time datetime="{{.PublishedAt.Format "2006-01-02"}}">{{.PublishedAt.Format "2006/01/02"}}</time></small>
      </li>
    {{end}}
  </ul>
{{end}}
