<div class="not-prose flex flex-row gap-8">
  <div class="flex-1 min-w-0">
    <p class="!my-0 !mb-2 text-base text-slate-600">Tagged with <a href="/tags/{{.CurrentTag}}" class="text-sky-800 hover:underline">{{.CurrentTag}}</a>:</p>
    <ul class="list-none !pl-0 !my-0 space-y-1">
      {{range .TaggedPages}}
        <li>
          <a href="/{{.PublicPath}}" class="text-sky-800 hover:underline">{{.Title}}</a>
          <small class="text-slate-400"><time datetime="{{.PublishedAt.Format "2006-01-02"}}">{{.PublishedAt.Format "2006/01/02"}}</time></small>
        </li>
      {{end}}
    </ul>
  </div>
  {{template "tags" .Tags}}
</div>
